.
  <footer>
  <div class="footer-container">
  <div class="footer-item">
  <ul class="menu-footer menu pipe">
  <div class="help">
  <li><a href="https://www.levi.jp/help%2Ffaq.html" title="ご利用ガイド" data-event="event-data-navigation" data-footer-nav="Help">ご利用ガイド</a></li>
  <li><a href="https://www.levi.jp/contactus" title="カスタマーサービス" data-event="event-data-navigation" data-footer-nav="Customer Service">カスタマーサービス</a></li>
  </div>
  <div>
  <li><a href="https://www.levi.jp/terms.html" title="ご利用規約" data-event="event-data-navigation" data-footer-nav="Terms">ご利用規約</a></li>
  <li><a href="https://www.levi.jp/privacy-policy.html" title="個人情報保護について" data-event="event-data-navigation" data-footer-nav="Policies" target="_blank">個人情報保護について</a></li>
  <li><a href="https://www.levi.jp/commercial-transactionslaw.html" title="特定商取引法に基づく表記 " target="_blank" data-event="event-data-navigation" data-footer-nav="Commercial-Transactionlaw">特定商取引法に基づく表記</a></li>
  </div>
  <div>
  <li><a href="http://www.levistrauss.co.jp/about/" title="会社情報" target="_blank" data-event="event-data-navigation" data-footer-nav="Aboutus">会社情報</a></li>
  <li><a href="https://levistrauss-job-jp.net/" title="採用情報" target="_blank">採用情報</a></li>
  </div>
  <div>
  <li><a href="https://www.levi.jp/stores" title="店舗検索" data-event="event-data-navigation" data-footer-nav="StoreLocator">店舗検索</a></li>
  <li><a href="https://www.levi.jp/sitemap" title="サイトマップ" data-event="event-data-navigation" data-footer-nav="Sitemap">サイトマップ</a></li>
  </div>
  </ul>
  </div>
  <div class="footer-item">
  <div class="content-asset">
  <div class="footer-social-links">
  <ul class="social-links">
  <li><a class="social-facebook" data-event="event-data-navigation" data-footer-nav="Social-Facebook" href="https://www.facebook.com/Levis.japan?brand_redir=1" target="_blank" title="Facebook"><span class="visually-hidden">Facebook</span> </a></li>
  <li><a class="social-twitter" data-event="event-data-navigation" data-footer-nav="Social-Twitter" href=" https://twitter.com/Levis_japan" target="_blank" title="Twitter"><span class="visually-hidden">Twitter</span></a></li>
  <li><a class="social-line" data-event="event-data-navigation" data-footer-nav="Social-Line" href="https://line.me/R/ti/p/%40levis" target="_blank" title="Line"><span class="visually-hidden">Line</span></a></li>
  <li><a class="social-instagram" data-event="event-data-navigation" data-footer-nav="Social-Instagram" href="http://instagram.com/levis_japan" target="_blank" title="Instagram"><span class="visually-hidden">Instagram</span></a></li>
  </ul>
  </div>
  <div class="copyright">&copy;2018 LEVI STRAUSS &amp; CO.</div>
  </div> 
  </div>
  </div>
  </footer>
  <!--[if lte IE 8]>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="//cdn.rawgit.com/weblinc/media-match/master/media.match.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]-->
  <!--[if IE 9]>
  <script src="//cdn.rawgit.com/paulirish/matchMedia.js/master/matchMedia.js" type="text/javascript"></script>
  <script src="//cdn.rawgit.com/paulirish/matchMedia.js/master/matchMedia.addListener.js" type="text/javascript"></script>
  <![endif]-->
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jquery/ui/jquery-ui.min.js" type="text/javascript"></script>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jquery/jquery.dotdotdot.min.js" type="text/javascript"></script>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jquery/jquery.jcarousel.min.js" type="text/javascript"></script>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jquery/jquery.validate.min.js" type="text/javascript"></script>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/hammer.min.js" type="text/javascript"></script>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jquery.flexslider-min.js" type="text/javascript"></script>
  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/lib/jwgSlider.min.js" type="text/javascript"></script>
  <script type="text/javascript">

  (function(){
  window.Constants = {"AVAIL_STATUS_IN_STOCK":"IN_STOCK","AVAIL_STATUS_PREORDER":"PREORDER","AVAIL_STATUS_BACKORDER":"BACKORDER","AVAIL_STATUS_NOT_AVAILABLE":"NOT_AVAILABLE"};
  window.Resources = {"I_AGREE":"I Agree","CLOSE":"閉じる","NO_THANKS":"No, thanks","OK":"OK","ARE_YOU_HUMAN":"Are you a Human Being?","SHIP_QualifiesFor":"This shipment qualifies for","CC_LOAD_ERROR":"Couldn't load credit card!","COULD_NOT_SAVE_ADDRESS":"Could not save address. Please check your entries and try again.","REG_ADDR_ERROR":"Could Not Load Address","BONUS_PRODUCT":"Bonus Product","BONUS_PRODUCTS":"Bonus Products","SELECT_BONUS_PRODUCTS":"product.selectbonusproductsanyone","SELECT_BONUS_PRODUCTS_DIALOG":"ボーナス商品を選択","SELECT_BONUS_PRODUCT":"選択","BONUS_PRODUCT_MAX":"T選択できるボーナス商品の個数が上限に達しました。追加で選択されるには、ボーナス商品のいずれか１つを削除して下さい。","BONUS_PRODUCT_TOOMANY":"選択できる個数を越えました。","SIMPLE_SEARCH":"検索","SUBSCRIBE_EMAIL_DEFAULT":"Email Address/Mobile Number","BONUS_PRODUCT_DESELECT":"取消","BONUS_PRODUCT_SELECT":"選択","BONUS_PRODUCT_SELECTATLEASTONE":"少なくとも１つのボーナス商品を選択して下さい。","SELECT_VALID_PRODUCT":"Please make a valid selection","AVAILABLE_STORES":"Available Stores","NO_STORES_AVAILABLE":"取り扱いのある店舗はありませんでした。","CURRENCY_SYMBOL":"¥","MISSINGVAL":"Please enter {0}","SERVER_ERROR":"Server connection failed!","MISSING_LIB":"jQuery is undefined.","BAD_RESPONSE":"Bad response - parser error!","INVALID_PHONE":"正しい電話番号を入力して下さい。","INVALID_ORDERNUMBER":"Please enter a valid number.","INVALID_PASSWORD":"パスワード（半角英数字8字以上）","INVALID_NAME":"漢字または、かなを入力してください。","INVALID_KANANAME":"カタカナを入力してください。","INVALID_POSTAL":"該当する住所が見つかりません。郵便番号を再度ご確認ください。","INVALID_PINCODE":"Invalid Pincode","INVALID_REQUIRED":"この項目は必須です。","INVALID_ADDRESS":"Please Enter Address1","INVALID_ADDRESS2":"正しい(有効な)住所を入力して下さい","INVALID_ADDRESS_NAME":"Please Enter Address Name","REMOVE":"削除","QTY":"数量","EMPTY_IMG_ALT":"削除","COMPARE_BUTTON_LABEL":"Compare Items","COMPARE_CONFIRMATION":"This will remove the first product added for comparison. Is that OK?","COMPARE_REMOVE_FAIL":"Unable to remove item from list","COMPARE_ADD_FAIL":"Unable to add item to list","ADD_TO_CART_FAIL":"Unable to add item '{0}' to cart","REGISTRY_SEARCH_ADVANCED_CLOSE":"Close Advanced Search","GIFT_CERT_INVALID":"Invalid gift certificate code.","GIFT_CERT_BALANCE":"Your current gift certificate balance is","GIFT_CERT_AMOUNT_INVALID":"Gift Certificate can only be purchased with a minimum of 5 and maximum of 5000","GIFT_CERT_MISSING":"Please enter a gift certificate code.","INVALID_OWNER":"This appears to be a credit card number. Please enter the name of the card holder.","COUPON_CODE_MISSING":"クーポンコードを入力してください","COOKIES_DISABLED":"Your browser is currently not set to accept cookies. Please turn this functionality on or check if you have another program set to block cookies.","BML_AGREE_TO_TERMS":"You must agree to the terms and conditions","CHAR_LIMIT_MSG":"{0} left out of {1} characters.","CONFIRM_DELETE":"Do you want to remove this {0}?","TITLE_GIFTREGISTRY":"gift registry","TITLE_ADDRESS":"address","TITLE_CREDITCARD":"credit card","SERVER_CONNECTION_ERROR":"Server connection failed!","IN_STOCK_DATE":"The expected in-stock date is {0}.","ITEM_STATUS_NOTAVAILABLE":"在庫切れ","INIFINITESCROLL":"Show All","STORE_NEAR_YOU":"お近くの店舗で入手可能かどうかを検索","SELECT_STORE":"店舗の選択","SELECTED_STORE":"選択された店舗","PREFERRED_STORE":"優先店舗","SET_PREFERRED_STORE":"優先店舗を設定","ENTER_ZIP":"郵便番号の入力","INVALID_ZIP":"有効な郵便番号を入力してください","SEARCH":"検索","CHANGE_LOCATION":"場所の変更","CONTINUE_WITH_STORE":"優先店舗で続行","CONTINUE":"Continue","SEE_MORE":"店舗数を増やす","SEE_LESS":"店舗数を減らす","QUICK_VIEW":"Quick View","QUICK_VIEW_POPUP":"Product Quick View","TLS_WARNING":"We value your security!<br/>We detected that you are using an outdated browser.<br/>Update you browser to continue a secure shopping experience.","NEWSLETTER_FOOTER_SUCCESS":"Your subscription request has successfully been submitted","NEWSLETTER_POPUP_SUCCESS":"Thank you for your subscription.","NEWSLETTER_FOOTER_CHECKBOX_CHECK":"Please check the Checkbox","NEWSLETTER_FOOTER_REGISTERED_EMAIL":"Email is already registered","NEWSLETTER_FOOTER_TECHNICAL":"For technical reasons, your request could not be properly addressed for the time being. We apologize for the inconveniences","COUPON_CODE":"クーポンを適用しました:","REMOVE_COUPON":"削除","COUPON_CODE_UNKNOWN":"checkout.unknown.coupon","ALREADY_COUPON_IN_BASKET":"checkout.already.coupon.in.basket","NOT_APPLICABLE_COUPON":"checkout.coupon.not.applicable","NOT_REGISTERED_EMAIL":"入力されたメールアドレスは、登録されておりません。","VALIDATE_REQUIRED":"この項目は必須です。","VALIDATE_NAME":"この項目は必須です.","VALIDATE_REMOTE":"Please fix this field.","VALIDATE_EMAIL":"正しいメールアドレスを入力してください。","VALIDATE_URL":"Please enter a valid URL.","VALIDATE_DATE":"Please enter a valid date.","VALIDATE_DATEISO":"Please enter a valid date ( ISO ).","VALIDATE_NUMBER":"Please enter a valid number.","VALIDATE_DIGITS":"Please enter only digits.","VALIDATE_CREDITCARD":"Please enter a valid credit card number.","VALIDATE_EQUALTO":"Please enter the same value again.","VALIDATE_MAXLENGTH":"Please enter no more than {0} characters.","VALIDATE_MINLENGTH":"正しい電話番号を入力して下さい。","VALIDATE_RANGELENGTH":"Please enter a value between {0} and {1} characters long.","VALIDATE_RANGE":"Please enter a value between {0} and {1}.","VALIDATE_MAX":"Please enter a value less than or equal to {0}.","VALIDATE_MIN":"Please enter a value greater than or equal to {0}.","VALIDATE_PASSWORD":"パスワードが一致しません","VALIDATE_ALPHAFIELD":"No consecutive space allowed.","VALIDATE_STATE":"Please select the state.","VALIDATE_TOPIC":"お問い合わせ内容を選択してください","VALIDATE_EMAIL_OR_PHONE":"Please enter a valid email address or phone number.","VALIDATERECAPTCHA":"global.recaptcha.invalid","GET_DIRECTION":"店舗の場所を調べる","URL_COPIED":"URL Copied","SELECT_SIZE":"product.selectsize.tooltip","ADD_TO_WISHLIST":"product.addtowishlist","PRODUCT_ALEADY_IN_WISHLIST":"This product is already in your wishlist","SELECT_FOR_STOCK":"サイズを選択してください","SELECT_ALTER_LENGTH":"股下サイズを選ぶ","SELECT_FOR_STYLE":"Please Select Size and Style","COMBINATION_NOT_AVAILABLE":"このサイズの組合せは、取り扱っておりません。","SELECT_AT_LEAST_ONE":"少なくとも１つのボーナス商品を選択して下さい。","ALREADY_REGISTERED_FOR_NOTIFY":"こちらのメールアドレスは既にご登録頂いています。商品入荷までしばらくお待ちください。","SELECT_STATE":"global.selectstate","MANDATORY_FIELD":"この項目は必須です。","ADYEN_CC_VALIDATE":"有効なクレジットカード情報を入力して下さい","SELECT_A_STORE":"You must select a store to proceed","SELECT_A_STORE_FOR_SHIPPING":"Kindly mention the store before proceeding to payment","SHIP_TO_ME":"shipToMe","SHIP_TO_OTHER":"shipToOther","NO_SCHEDULED":"お届け日を指定しない","NEED_SCHEDULED":"お届け日を指定する","SELECT_PAYMENT_METHOD":"You must select a payment method to proceed","TEXTLEFT_TEXTAREA":"文字をご入力頂けます。","TEXTLEFT_TEXTAREA_FIRST":"上限800文字の内、残り","MAXQUANTITY":"同一商品を６つ以上は、登録できません","PINCODE_NOT_DELIVERABLE":"Order can not be delivered to entered pincode","CM":"cm","SELECT_APPR_PAYMENT_METHOD":"Select appropriate payment method","NOTIFY_ME_MESSAGE":"現在このサイズは在庫がありません。<br>ご希望のサイズを選択して再入荷お知らせメールをご利用ください。","AMAZON_LOGIN_ERROR":"Please log in with your current account    ","CART_EXPIRED_PDP":"あなたのカートは制限時間切れとなりました。恐れ入りますが、引き続きショッピングをお続け頂くには、お手数ですがすべての商品を削除してからもう一度、カートに追加して頂く必要がございます。","LOYALTY_POINTS_ADDED":"ポイントを利用しました。","LOYALTY_POINTS_LIMITERROR":"1回のご注文に対して、100,000ポイント以上はご利用できません。","LOYALTY_POINTS_BALANCEERROR":"クラブリーバイスポイントが不足しています。","LOYALTY_POINTS__MISSING":"使用するポイントを入力する","LOYALTY_POINTS_ORDERERROR":"ご注文金額よりポイントが多く入力されています。","LESS":"表示省略","MORE":"さらに表示","DISABLE_SUCCESS":"アカウントが削除されました。またのご利用をお待ちしております。","SIGNUP_POPUP":"お買い上げごとにポイントが貯まる会員限定サービスです。ポイントはオンラインストア及び実店舗にてご利用頂けます。","IN_STOCK":"In Stock","QTY_IN_STOCK":"{0} Item(s) in Stock","PREORDER":"Pre-Order","QTY_PREORDER":"{0} item(s) are available for pre-order.","REMAIN_PREORDER":"The remaining items are available for pre-order.","BACKORDER":"Back Order","QTY_BACKORDER":"Back order {0} item(s)","REMAIN_BACKORDER":"The remaining items are available on back order.","NOT_AVAILABLE":"在庫切れ","REMAIN_NOT_AVAILABLE":"The remaining items are currently not available. Please adjust the quantity."};
  window.Urls = {"appResources":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Resources-Load","pageInclude":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Page-Include","continueUrl":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Page-Show","staticPath":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/","addGiftCert":"/giftcertpurchase","minicartGC":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/GiftCert-ShowMiniCart","addProduct":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-AddProduct","minicart":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-MiniAddProduct","cartShow":"/cart","cartExpired":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-ExpireCart","emptyCart":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-EmptyCart","giftRegAdd":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Address-GetAddressDetails?addressID=","paymentsList":"https://www.levi.jp/wallet","addressesList":"https://www.levi.jp/addressbook","wishlistAddress":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Wishlist-SetShippingAddress","deleteAddress":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Address-Delete","getProductUrl":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-Show","getBonusProducts":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-GetBonusProducts","addBonusProduct":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-AddBonusProduct","getDescription":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-Description","getSelectedAddress":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Address-SelectedAddress","getSetItem":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-GetSetItem","productDetail":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-Detail","getAvailability":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-GetAvailability","removeImg":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/default/dwc8e53f09/images/icon_remove.gif","searchsuggest":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Search-GetSuggestions","productNav":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-Productnav","summaryRefreshURL":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-UpdateSummary","billingSelectCC":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-SelectCreditCard","updateAddressDetails":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShipping-UpdateAddressDetails","updateAddressDetailsBilling":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-UpdateAddressDetails","shippingMethodsJSON":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShipping-GetApplicableShippingMethodsJSON","shippingMethodsList":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShipping-UpdateShippingMethodList","selectShippingMethodsList":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShipping-SelectShippingMethod","resetPaymentForms":"/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-ResetPaymentForms","compareShow":"/compare","compareAdd":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Compare-AddProduct","compareRemove":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Compare-RemoveProduct","compareEmptyImage":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/default/dw4f8f8347/images/comparewidgetempty.png","giftCardCheckBalance":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-GetGiftCertificateBalance","redeemGiftCert":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-RedeemGiftCertificateJson","addCoupon":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-AddCouponJson","paymentChargeCalculate":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-PaymentChargeCalculate","isconfirmationpageload":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-successfullyLoaded","removeCoupon":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Cart-RemoveCouponJson","storesInventory":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/StoreInventory-Inventory","setPreferredStore":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/StoreInventory-SetPreferredStore","getPreferredStore":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/StoreInventory-GetPreferredStore","setStorePickup":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/StoreInventory-SetStore","setZipCode":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/StoreInventory-SetZipCode","getZipCode":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/StoreInventory-GetZipCode","billing":"/billing","shipping":"/shipping","invalidateAmazonPay":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-InvalidateAmazonPay","setSessionCurrency":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Currency-SetSessionCurrency","addEditAddress":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShippingMultiple-AddEditAddressJSON","cookieHint":"/cookie_hint.html","rateLimiterReset":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/RateLimiter-HideCaptcha","csrffailed":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/CSRF-Failed","getStores":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Stores-SearchStoresByStateOrPostal","getStoresByState":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Stores-SearchStoresByState","getStoresByPostal":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Stores-SearchStoresByLocalityOrPostal","getStoresByCity":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Stores-SearchStoresByCityOrLocality","findStores":"/stores","findjpstores":"https://www.levi.jp/stores","markerImage":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/default/dwd4967ebe/images/location.svg","callmeImage":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/default/dw44eda625/images/Call me icon.svg","getDirectionImage":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/default/dw17f030d9/images/Direction Icon.svg","newsletterSubscription":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Newsletter-NewSubscription","getOrderListPagination":"/orders","getPixlee":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Home-IncludePixlee","checkMigratedCustomer":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Login-CheckMigration","lastvisited":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-IncludeLastVisited","newsletterpopup":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Home-Newsletterpopup","newsletterpopupmobile":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Home-Newsletterpopupmobile","notifyMeSubscription":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-NotifyMeSubscribe","addresslookup":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Address-SearchPostalCode","addresslookupJP":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Address-SearchPostalCodeJP","deleteExternalProfile":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Account-ExternalProfileDelete","showProfile":"/account","disableAccountDialog":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Account-DeleteProfileDialog","accountBackRedirectUrl":"/home","checkdeliveryavailability":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Address-CheckDeliveryAvailability","loyaltyPriceAdjustment":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-LoyaltyPriceAdjustment","removeLoyaltyPriceAdjustment":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COBilling-RemoveLoyaltyPriceAdjustment","createGiftWrapLineItem":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShipping-CreateGiftWrapLineItem","removeGiftWrapLineItem":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/COShipping-RemoveGiftWrapLineItem","getAlterationLengths":"/on/demandware.store/Sites-LeviJP-Site/ja_JP/Product-GetAlterationLengths","storemarkerImage":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/homepage/levis_retail_image.PNG","storeMarkerRetail":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/homepage/PIN_RETAILER.png","storeMarkerOutlet":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/homepage/PIN_LEVIS_OUTLET.png","storeMarkerMain":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/homepage/PIN_LEVIS_MAINLINE.png","storeMain":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/dw57893f88/images/stores/StoresIcon/Pin_Red.png","storeFactory":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/dw827f0371/images/stores/StoresIcon/Pin_Black.png","getStoresShipping":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Stores-SearchStoresListForShipping","newletterpopupimage":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/homepage/newsletterpopup_background.jpg","newletterpopupimage_mobile":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/homepage/newsletterpopup_background_mobile.jpg","mlp_video1_background":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/dw2d1c7bb9/images/MLP/video1_background.jpg","mlp_video2_background":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/MLP/video2_background.jpg","mlp_mobile_video1_background":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/MLP/mobile/video1_background.jpg","mlp_mobile_video2_background":"https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/v1564023235819/images/MLP/mobile/video2_background.jpg","mlp_video_commuter":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Home-Showvideo","cod_tick":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/dwe28498aa/images/tick_cod.png","cod_cross":"https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/dw7727804a/images/cross_cod.png","getOrderReferenceDetails":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-GetOrderReferenceDetails","getBillingAgreementDetails":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-GetBillingAgreementDetails","getOrderReferenceBillingDetails":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-GetOrderReferenceBillingDetails","getBillingAgreementBillingDetails":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-GetBillingAgreementBillingDetails","setOrderReferenceID":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-SetOrderReferenceID","setConsentStatus":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-SetConsentStatus","editButtonRedirect":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-EditButtonRedirect","accountDisableRedirect":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/Account-DeleteSuccessMessage"};
  window.SitePreferences = {"LISTING_INFINITE_SCROLL":true,"LISTING_REFINE_SORT":true,"STORE_PICKUP":false,"STORE_MAP":true,"STORE_NAME":null,"ZOOM_ALL_STORE":9,"ZOOM_SINGLE_STORE":16,"DEFAULT_DRIVE_MODE":"r","DEFAULT_STORE_LAT_LONG":"{\"lat\": 35.670875, \"lng\":139.479954}","KAKAO_KEY":null,"COOKIE_HINT":false,"CHECK_TLS":false,"PIXLEE_ENABLE":false,"PIXLEE_API_KEY":"TWK5OMvVwhgFC5IcGD2d","PIXLEE_WIDGET_ID":987695,"ADYEN_CSE_ENABLED":true,"ADYEN_CSE_JS_PUBLIC_KEY":"10001|9CB6F62B9E8EB7642E05E481EF0242F37C1D3034C9850501C79C8CDC5E4DC733B36AAD2173D1991E9F749AF664D0A899E75B5EE134C827A30FDDC96A6E0706568342F6C856DD08418CBA2A49418FC2156A0B2834547A8458A61516DAA29FA74EC5F40487F10D4876837096FCF1A88C5380144A06ED17EBCF247433F7AD86693108D045D38B2399720AF5AEC1BF1726210B828E7621B8CC4346EDC2E0A66734280865ADC7CB1D5B2F79C4BBA887C6CCAC6C52F5A72079E6A20E1848E2DA233DF6D554B74DD216C19FD3B99D8B324D2266E31E8848054D2CD98AA4A92C7C091B557FF0368C6922B7E1CE41C66A3540F5DB7712313FE27EB1490A250E5055414681","AMAZON_MERCHANT_ID":"A2Y1SPK3ZLF30I","AMAZON_LOGIN_BUTTON_TYPE":"LwA","AMAZON_LOGIN_BUTTON_COLOR":"Gold","AMAZON_LOGIN_BUTTON_SIZE":"medium","AMAZON_LOGIN_REDIRECT_URL":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-LoginButtonRedirect","AMAZON_PAY_REDIRECT_URL":"https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/AmazonPayments-PayButtonRedirect","AMAZON_SCOPE":"profile postal_code payments:widget payments:shipping_address","AMAZON_PAY_BUTTON_TYPE":"PwA","AMAZON_PAY_BUTTON_COLOR":"Gold","AMAZON_PAY_BUTTON_SIZE":"medium","CART_EXPIRATION_TIME":30,"ENABLE_COOKIE_POLICY_BAR":false};
  }());
  </script>
  <script type="text/javascript">

  (function(){
  window.SessionAttributes = {"SHOW_CAPTCHA":null};
  window.User = {"zip":null,"storeId":null};
  }());
  </script>

  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/js/app.js"></script>
  <script>pageContext = {"type":"content"};</script>
  <script>
  var meta = "";
  var keywords = "リーバイス,Levi&amp;#039;s,501,ジーンズ,デニム,ジーパン,ヴィンテージ,ビンテージ,通販";
  </script>
  <script language="javascript" type="text/javascript">
  				      var _d = document; 
  				      var evar = {
  				          pageData :{
  				            pagename: "2019-stylejournal-0517|Levi&rsquo;s&reg; STYLE JOURNAL | リーバイス&reg; 公式通販",
  				            pagetype: 'N/A',
  				            pagedepartment: 'N/A',
  				            pagecat: 'N/A',
  				            locale:"ja_JP",
  				            platform: "Web"
  								}
  							}  		                                  
  				     </script>
  <script language="javascript" type="text/javascript">
  	                  
  	                  var evar41 = {
  					          pageData :{
  							            	 customer_uui: 'N/A'
  									    }
  								      }
  	                  
  	                  </script>
  <script language="javascript" type="text/javascript">
  			      var evar40 = {
  			                  pageData :{
  					            	      authenticated: "guest"
  							        }
  						          }
  			      var evar70 = {
  				          pageData :{
  						            	  platform: "Web"
  								    }
  							      }	
  			      var evar71 = {
  				          pageData :{
  						            	locale: "ja_JP"
  								    }
  							      }	
  			      var evar72 = {
  				          pageData :{
  						            	country: "JP"
  								    }
  							      }	
  			      </script>
  <script type="text/javascript">_satellite.pageBottom();</script>
  </div>

  <script type="text/javascript">//<!--
  /* <![CDATA[ */
  function trackPage() {
      try{
          var trackingUrl = "https://www.levi.jp/on/demandware.store/Sites-LeviJP-Site/ja_JP/__Analytics-Start";
          var dwAnalytics = dw.__dwAnalytics.getTracker(trackingUrl);
          if (typeof dw.ac == "undefined") {
              dwAnalytics.trackPageView();
          } else {
              dw.ac.setDWAnalytics(dwAnalytics);
          }
      }catch(err) {};
  }
  /* ]]> */
  // -->
  </script>
  <script type="text/javascript" src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/internal/jscript/dwanalytics-18.3.js" async="async" onload="trackPage()"></script>

  <script src="https://www.levi.jp/on/demandware.static/Sites-LeviJP-Site/-/ja_JP/v1564023235819/internal/jscript/dwac-18.10.4.js" type="text/javascript" async="async"></script>
  <script src="https://cdn.cquotient.com/js/v2/gretel.min.js" type="text/javascript" async="async"></script>
  <script src="../js/script.js"></script>
