.
	<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGLLXCG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript> -->

	<div id="wrapper" class="pt_content">
	<!-- <script type='text/javascript'>
	window.onAmazonLoginReady = function() {
	amazon.Login.setClientId("amzn1.application-oa2-client.a25791de24074cad99ddc00aa390ce9a");
	};
	</script> -->
	<div class="header-banner">
	<div class="html-slot-container">
	<div class="header-banner-slot">
	<a href="https://www.levi.jp/help%2Ffaq.html" title="ご利用ガイド" class="help-link" data-event="event-
	data-navigation" data-header-nav="Help">ご利用ガイド</a >
	<a href="https://www.levi.jp/stores" title="店舗検索" data-event="event-data-navigation" data-header- nav="StoreLocator">店舗検索</a>
	<a href="https://club-levi.jp/members/login" target="_blank" title="クラブリーバイス®" data-event="event-data-navigation" data-header-nav="Club Levi">クラブリーバイス®</a>
	</div>
	</div>
	<div class="header-signin">
	<a href="/login?original=%2F2019ss_lvc.html" title="ログイン" data-event="event-data-navigation" data-header-nav="SignIn">
	ログイン / 新規登録
	</a>
	</div>
	</div>
	<div class="top-banner" role="banner">
	<button class="menu-toggle" data-event="event-data-navigation" data-header-nav="MenuHamburger">
	<i class="menu-icon"></i>
	<span class="visually-hidden">Menu</span>
	</button>
	<div class="content-asset"><div class="primary-logo">
	<a href="https://www.levi.jp/home" title="Levis official online store | Japan" id="logo" data-event="event-data-navigation" data-header-nav="Logo :<%= window.title %>" data-event="event-data-navigation" data-header-nav="Logo : Search Result">
	<img src="https://www.levi.jp/on/demandware.static/-/Sites-LeviJP-Library/ja_JP/dw922cbd91/images/homepage/logo.jpg" alt="Levis official online store | Japan" class="logo">
	<span class="visually-hidden"><isprint value="Levis official online store | Japan " />
	</span>
	</a>
	</div>
	<script>
		document.getElementById('logo').setAttribute("data-header-nav", "Logo:" + document.title);
	</script></div>
	<span class="header-search-icon"><button id="header-mobile-search-icon"></button></span>
	<span class="header-close-icon"> <button id="header-mobile-close-icon"></button></span>
	<nav id="navigation" role="navigation">

	<ul class="menu-utility-user">
	<li class="user-info">
	<i class="fa fa-user" style="display:none"></i>
	<a class="sign_in mobile" href="/login" title="ログイン">ログイン</a>
	<div class="user-panel">
	</div>
	</li>
	<li class="user-wishlist-info">
	<a class="user-wishlist" href="https://www.levi.jp/wishlist" title="お気に入り" data-event="event-data-my-account" data-click="Wishlist-Add-Product-to-wishlist-authenicated">
	<div class="heartoutlined">
	</div>
	</a>
	</li>
	</ul>
	<ul class="menu-category level-1" style="display:none">
	<li class="main-menu MEN">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:MEN/メンズ" data-event="event-data-category" data-click="MEN/メンズ" href="https://www.levi.jp/men">
	MEN
	</a>
	<a class="has-sub-menu" id="categoryjapanese" data-event="event-data-navigation" data-header-nav="Category:MEN/メンズ" data-event="event-data-category" data-click="MEN/メンズ" href="https://www.levi.jp/men">
	メンズ
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-horizontal">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:パンツ/ボトムス" href="https://www.levi.jp/men/pants">
	パンツ/ボトムス
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ジーンズ/デニム" href="https://www.levi.jp/men/pants/jeans">
	ジーンズ/デニム
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ストレート" href="https://www.levi.jp/men/pants/jeans/straight">
	ストレート
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スリム / スキニー" href="https://www.levi.jp/men/pants/jeans/slimskinny">
	スリム / スキニー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:テーパード" href="https://www.levi.jp/men/pants/jeans/tapered">
	テーパード
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ワイド / ルーズ" href="https://www.levi.jp/men/pants/jeans/wideloose">
	ワイド / ルーズ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:フレア / ブーツカット" href="https://www.levi.jp/men/pants/jeans/flarebootcut">
	フレア / ブーツカット
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/men/pants/longpants">
	ロングパンツ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/men/pants/croppedpants">
	クロップドパンツ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ショートパンツ" href="https://www.levi.jp/men/pants/shorts">
	ショートパンツ
	</a>
	<li class="shopbylot">
	<a class="cat-link-noclick" data-event="event-data-navigation" data-header-nav="Category:ロット番号で探す" href="https://www.levi.jp/men/pants/lotnumbers">
	ロット番号で探す
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/men/pants/lotnumbers/501">
	501&reg;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;T" href="https://www.levi.jp/men/pants/lotnumbers/501t">
	501&reg;T
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;skinny" href="https://www.levi.jp/men/pants/lotnumbers/501skinny">
	501&reg;skinny
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:505&trade;" href="https://www.levi.jp/men/pants/lotnumbers/505">
	505&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:510&trade;" href="https://www.levi.jp/men/pants/lotnumbers/510">
	510&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:512&trade;" href="https://www.levi.jp/men/pants/lotnumbers/512">
	512&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:502&trade;" href="https://www.levi.jp/men/pants/lotnumbers/502">
	502&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:511&trade;" href="https://www.levi.jp/men/pants/lotnumbers/511">
	511&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:513&trade;" href="https://www.levi.jp/men/pants/lotnumbers/513">
	513&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:541&trade;" href="https://www.levi.jp/men/pants/lotnumbers/541">
	541&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:606&trade;" href="https://www.levi.jp/men/pants/lotnumbers/606">
	606&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:550&trade;" href="https://www.levi.jp/men/pants/lotnumbers/men-550">
	550&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:560&trade;" href="https://www.levi.jp/men/pants/lotnumbers/men-560">
	560&trade;
	</a>
	</li>
	</ul>
	</li>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ジーンズ/デニム" href="https://www.levi.jp/men/pants/jeans">
	ジーンズ/デニム
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ストレート" href="https://www.levi.jp/men/pants/jeans/straight">
	ストレート
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スリム / スキニー" href="https://www.levi.jp/men/pants/jeans/slimskinny">
	スリム / スキニー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:テーパード" href="https://www.levi.jp/men/pants/jeans/tapered">
	テーパード
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ワイド / ルーズ" href="https://www.levi.jp/men/pants/jeans/wideloose">
	ワイド / ルーズ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:フレア / ブーツカット" href="https://www.levi.jp/men/pants/jeans/flarebootcut">
	フレア / ブーツカット
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/men/pants/longpants">
	ロングパンツ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/men/pants/croppedpants">
	クロップドパンツ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ショートパンツ" href="https://www.levi.jp/men/pants/shorts">
	ショートパンツ
	</a>
	<li class="shopbylot">
	<a data-event="event-data-navigation" data-header-nav="Category:ロット番号で探す" href="https://www.levi.jp/men/pants/lotnumbers">
	ロット番号で探す
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/men/pants/lotnumbers/501">
	501&reg;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;T" href="https://www.levi.jp/men/pants/lotnumbers/501t">
	501&reg;T
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;skinny" href="https://www.levi.jp/men/pants/lotnumbers/501skinny">
	501&reg;skinny
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:505&trade;" href="https://www.levi.jp/men/pants/lotnumbers/505">
	505&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:510&trade;" href="https://www.levi.jp/men/pants/lotnumbers/510">
	510&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:512&trade;" href="https://www.levi.jp/men/pants/lotnumbers/512">
	512&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:502&trade;" href="https://www.levi.jp/men/pants/lotnumbers/502">
	502&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:511&trade;" href="https://www.levi.jp/men/pants/lotnumbers/511">
	511&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:513&trade;" href="https://www.levi.jp/men/pants/lotnumbers/513">
	513&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:541&trade;" href="https://www.levi.jp/men/pants/lotnumbers/541">
	541&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:606&trade;" href="https://www.levi.jp/men/pants/lotnumbers/606">
	606&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:550&trade;" href="https://www.levi.jp/men/pants/lotnumbers/men-550">
	550&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:560&trade;" href="https://www.levi.jp/men/pants/lotnumbers/men-560">
	560&trade;
	</a>
	</li>
	</ul>
	</li>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/men/tops">
	トップス
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Tシャツ / カットソー" href="https://www.levi.jp/men/tops/tshirts">
	Tシャツ / カットソー
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/men/tops/sweatparker">
	スウェット / パーカー
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ニット / セーター" href="https://www.levi.jp/men/tops/knitsweater">
	ニット / セーター
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:シャツ/デニムシャツ" href="https://www.levi.jp/men/tops/denimshirt">
	シャツ/デニムシャツ
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Tシャツ / カットソー" href="https://www.levi.jp/men/tops/tshirts">
	Tシャツ / カットソー
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/men/tops/sweatparker">
	スウェット / パーカー
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ニット / セーター" href="https://www.levi.jp/men/tops/knitsweater">
	ニット / セーター
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:シャツ/デニムシャツ" href="https://www.levi.jp/men/tops/denimshirt">
	シャツ/デニムシャツ
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:アウター" href="https://www.levi.jp/men/outerwear">
	アウター
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:メンズ トラッカー/ デニムジャケット(ジージャン)" href="https://www.levi.jp/men/outerwear/denimjacket">
	メンズ トラッカー/ デニムジャケット&#40;ジージャン&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:コート / ジャケット" href="https://www.levi.jp/men/outerwear/coatjacket">
	コート / ジャケット
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:メンズ トラッカー/ デニムジャケット(ジージャン)" href="https://www.levi.jp/men/outerwear/denimjacket">
	メンズ トラッカー/ デニムジャケット&#40;ジージャン&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:コート / ジャケット" href="https://www.levi.jp/men/outerwear/coatjacket">
	コート / ジャケット
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:コレクション" href="https://www.levi.jp/men/collection-1">
	コレクション
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi&rsquo;s&reg; Engineered Jeans&trade;(リーバイス&reg;エンジニアードジーンズ)" href="https://www.levi.jp/men/collection/men_lej">
	Levi&rsquo;s&reg; Engineered Jeans&trade;&#40;リーバイス&reg;エンジニアードジーンズ&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; VINTAGE CLOTHING (ビンテージ クロージング)" href="https://www.levi.jp/men/collection/lvc">
	LEVI&#39;S&reg; VINTAGE CLOTHING &#40;ビンテージ クロージング&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; MADE &amp; CRAFTED&reg; (メイド&amp;クラフテッド)" href="https://www.levi.jp/men/collection/lmc">
	LEVI&#39;S&reg; MADE &amp; CRAFTED&reg; &#40;メイド&amp;クラフテッド&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Silver Tab (シルバータブ)" href="https://www.levi.jp/men/collection/silvertab">
	Silver Tab &#40;シルバータブ&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:MADE IN THE USA (メイドインザユーエスエー)" href="https://www.levi.jp/men/collection/miu">
	MADE IN THE USA &#40;メイドインザユーエスエー&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; Authorized Vintage (オーソライズド ヴィンテージ)" href="https://www.levi.jp/men/collection/lav">
	Levi&#39;s&reg; Authorized Vintage &#40;オーソライズド ヴィンテージ&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:PEANUTS&reg; COLLECTION (ピーナッツコレクション)" href="https://www.levi.jp/men/collection-2">
	PEANUTS&reg; COLLECTION &#40;ピーナッツコレクション&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi&rsquo;s&reg; Workwear (ワークウェア)" href="https://www.levi.jp/men/collection/workwear">
	Levi&rsquo;s&reg; Workwear &#40;ワークウェア&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:JUSTIN TIMBERLAKE (ジャスティン・ティンバーレイク)" href="https://www.levi.jp/men/collection/justintimberlake">
	JUSTIN TIMBERLAKE &#40;ジャスティン・ティンバーレイク&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; Pride Collection（プライドコレクション）" href="https://www.levi.jp/men/collection-3">
	Levi&#39;s&reg; Pride Collection（プライドコレクション）
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi&rsquo;s&reg; Engineered Jeans&trade;(リーバイス&reg;エンジニアードジーンズ)" href="https://www.levi.jp/men/collection/men_lej">
	Levi&rsquo;s&reg; Engineered Jeans&trade;&#40;リーバイス&reg;エンジニアードジーンズ&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; VINTAGE CLOTHING (ビンテージ クロージング)" href="https://www.levi.jp/men/collection/lvc">
	LEVI&#39;S&reg; VINTAGE CLOTHING &#40;ビンテージ クロージング&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; MADE &amp; CRAFTED&reg; (メイド&amp;クラフテッド)" href="https://www.levi.jp/men/collection/lmc">
	LEVI&#39;S&reg; MADE &amp; CRAFTED&reg; &#40;メイド&amp;クラフテッド&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Silver Tab (シルバータブ)" href="https://www.levi.jp/men/collection/silvertab">
	Silver Tab &#40;シルバータブ&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:MADE IN THE USA (メイドインザユーエスエー)" href="https://www.levi.jp/men/collection/miu">
	MADE IN THE USA &#40;メイドインザユーエスエー&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; Authorized Vintage (オーソライズド ヴィンテージ)" href="https://www.levi.jp/men/collection/lav">
	Levi&#39;s&reg; Authorized Vintage &#40;オーソライズド ヴィンテージ&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:PEANUTS&reg; COLLECTION (ピーナッツコレクション)" href="https://www.levi.jp/men/collection-2">
	PEANUTS&reg; COLLECTION &#40;ピーナッツコレクション&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi&rsquo;s&reg; Workwear (ワークウェア)" href="https://www.levi.jp/men/collection/workwear">
	Levi&rsquo;s&reg; Workwear &#40;ワークウェア&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:JUSTIN TIMBERLAKE (ジャスティン・ティンバーレイク)" href="https://www.levi.jp/men/collection/justintimberlake">
	JUSTIN TIMBERLAKE &#40;ジャスティン・ティンバーレイク&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; Pride Collection（プライドコレクション）" href="https://www.levi.jp/men/collection-3">
	Levi&#39;s&reg; Pride Collection（プライドコレクション）
	</a>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:新着" href="https://www.levi.jp/men/newarrival">
	新着
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:フィットガイド" href="https://www.levi.jp/fitchart.html">
	フィットガイド
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:THE STORIES OF 501&reg;" href="https://www.levi.jp/storiesof501.html">
	THE STORIES OF 501&reg;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:MADE IN JAPAN&trade;" href="https://www.levi.jp/made-in-japan.html">
	MADE IN JAPAN&trade;
	</a>
	</li>
	</ul>
	</div>
	</li>
	<li class="main-menu WOMEN">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:WOMEN/レディース" data-event="event-data-category" data-click="WOMEN/レディース" href="https://www.levi.jp/women">
	WOMEN
	</a>
	<a class="has-sub-menu" id="categoryjapanese" data-event="event-data-navigation" data-header-nav="Category:WOMEN/レディース" data-event="event-data-category" data-click="WOMEN/レディース" href="https://www.levi.jp/women">
	レディース
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-horizontal">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:パンツ/ボトムス" href="https://www.levi.jp/women/pants">
	パンツ/ボトムス
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ジーンズ/デニム" href="https://www.levi.jp/women/pants/jeans">
	ジーンズ/デニム
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ストレート" href="https://www.levi.jp/women/pants/jeans/straight">
	ストレート
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スリム / スキニー" href="https://www.levi.jp/women/pants/jeans/slimskinny">
	スリム / スキニー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:テーパード" href="https://www.levi.jp/women/pants/jeans/tapered">
	テーパード
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ワイド / ルーズ" href="https://www.levi.jp/women/pants/jeans/wideloose">
	ワイド / ルーズ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:フレア / ブーツカット" href="https://www.levi.jp/women/pants/jeans/flarebootcut">
	フレア / ブーツカット
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/women/pants/longpants">
	ロングパンツ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:サロペット / オールインワン" href="https://www.levi.jp/women/pants/salopetteallinone">
	サロペット / オールインワン
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/women/pants/croppedpants">
	クロップドパンツ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ショートパンツ" href="https://www.levi.jp/women/pants/shorts">
	ショートパンツ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:スカート / ワンピース" href="https://www.levi.jp/women/pants/skirtonepiece">
	スカート / ワンピース
	</a>
	<li class="shopbylot">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ロット番号で探す" href="https://www.levi.jp/women/pants/lotnumbers">
	ロット番号で探す
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/women/pants/lotnumbers/501">
	501&reg;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;T" href="https://www.levi.jp/women/pants/lotnumbers/501t">
	501&reg;T
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;Skinny" href="https://www.levi.jp/women/pants/lotnumbers/501skinny">
	501&reg;Skinny
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:701&trade;" href="https://www.levi.jp/women/pants/lotnumbers/701">
	701&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:711&trade;" href="https://www.levi.jp/women/pants/lotnumbers/711">
	711&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:720&trade;" href="https://www.levi.jp/women/pants/lotnumbers/721-1">
	720&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:721&trade;" href="https://www.levi.jp/women/pants/lotnumbers/721-2">
	721&trade;
	</a>
	</li>
	</ul>
	</li>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ジーンズ/デニム" href="https://www.levi.jp/women/pants/jeans">
	ジーンズ/デニム
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ストレート" href="https://www.levi.jp/women/pants/jeans/straight">
	ストレート
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スリム / スキニー" href="https://www.levi.jp/women/pants/jeans/slimskinny">
	スリム / スキニー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:テーパード" href="https://www.levi.jp/women/pants/jeans/tapered">
	テーパード
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ワイド / ルーズ" href="https://www.levi.jp/women/pants/jeans/wideloose">
	ワイド / ルーズ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:フレア / ブーツカット" href="https://www.levi.jp/women/pants/jeans/flarebootcut">
	フレア / ブーツカット
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/women/pants/longpants">
	ロングパンツ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:サロペット / オールインワン" href="https://www.levi.jp/women/pants/salopetteallinone">
	サロペット / オールインワン
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/women/pants/croppedpants">
	クロップドパンツ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ショートパンツ" href="https://www.levi.jp/women/pants/shorts">
	ショートパンツ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:スカート / ワンピース" href="https://www.levi.jp/women/pants/skirtonepiece">
	スカート / ワンピース
	</a>
	<li class="shopbylot">
	<a data-event="event-data-navigation" data-header-nav="Category:ロット番号で探す" href="https://www.levi.jp/women/pants/lotnumbers">
	ロット番号で探す
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/women/pants/lotnumbers/501">
	501&reg;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;T" href="https://www.levi.jp/women/pants/lotnumbers/501t">
	501&reg;T
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;Skinny" href="https://www.levi.jp/women/pants/lotnumbers/501skinny">
	501&reg;Skinny
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:701&trade;" href="https://www.levi.jp/women/pants/lotnumbers/701">
	701&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:711&trade;" href="https://www.levi.jp/women/pants/lotnumbers/711">
	711&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:720&trade;" href="https://www.levi.jp/women/pants/lotnumbers/721-1">
	720&trade;
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:721&trade;" href="https://www.levi.jp/women/pants/lotnumbers/721-2">
	721&trade;
	</a>
	</li>
	</ul>
	</li>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/women/tops">
	トップス
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Tシャツ / カットソー" href="https://www.levi.jp/women/tops/tshirts">
	Tシャツ / カットソー
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ニット / セーター" href="https://www.levi.jp/women/tops/knitsweater">
	ニット / セーター
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:シャツ/ブラウス" href="https://www.levi.jp/women/tops/blouses">
	シャツ/ブラウス
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/women/tops/sweatparker">
	スウェット / パーカー
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Tシャツ / カットソー" href="https://www.levi.jp/women/tops/tshirts">
	Tシャツ / カットソー
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ニット / セーター" href="https://www.levi.jp/women/tops/knitsweater">
	ニット / セーター
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:シャツ/ブラウス" href="https://www.levi.jp/women/tops/blouses">
	シャツ/ブラウス
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/women/tops/sweatparker">
	スウェット / パーカー
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:アウター" href="https://www.levi.jp/women/outerwear">
	アウター
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:レディーストラッカー / デニムジャケット(ジージャン)" href="https://www.levi.jp/women/outerwear/denimjacket">
	レディーストラッカー / デニムジャケット&#40;ジージャン&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:コート  / ジャケット" href="https://www.levi.jp/women/outerwear/coatjacket">
	コート / ジャケット
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:レディーストラッカー / デニムジャケット(ジージャン)" href="https://www.levi.jp/women/outerwear/denimjacket">
	レディーストラッカー / デニムジャケット&#40;ジージャン&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:コート  / ジャケット" href="https://www.levi.jp/women/outerwear/coatjacket">
	コート / ジャケット
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:コレクション" href="https://www.levi.jp/women/collection-1">
	コレクション
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi&rsquo;s&reg; Engineered Jeans&trade;(リーバイス&reg;エンジニアードジーンズ)" href="https://www.levi.jp/women/collection/women_lej">
	Levi&rsquo;s&reg; Engineered Jeans&trade;&#40;リーバイス&reg;エンジニアードジーンズ&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; VINTAGE CLOTHING（ビンテージ クロージング） " href="https://www.levi.jp/women/collection/lvc">
	LEVI&#39;S&reg; VINTAGE CLOTHING（ビンテージ クロージング）
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; MADE &amp; CRAFTED&reg;（メイド&amp;クラフテッド）" href="https://www.levi.jp/women/collection/lmc">
	LEVI&#39;S&reg; MADE &amp; CRAFTED&reg;（メイド&amp;クラフテッド）
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:WEDGIE（ウェジー） " href="https://www.levi.jp/women/collection/wedgie">
	WEDGIE（ウェジー）
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Mom Jeans(マム ジーンズ)" href="https://www.levi.jp/women/collection/women-mom-jeans">
	Mom Jeans&#40;マム ジーンズ&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; Authorized Vintage (リーバイス オーソライズド ヴィンテージ)" href="https://www.levi.jp/women/collection/lav">
	Levi&#39;s&reg; Authorized Vintage &#40;リーバイス オーソライズド ヴィンテージ&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:PEANUTS&reg; COLLECTION (ピーナッツコレクション)" href="https://www.levi.jp/women/collection-2">
	PEANUTS&reg; COLLECTION &#40;ピーナッツコレクション&#41;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; RIBCAGE (リブケージ)" href="https://www.levi.jp/women/collection/women-ribcage">
	Levi&#39;s&reg; RIBCAGE &#40;リブケージ&#41;
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi&rsquo;s&reg; Engineered Jeans&trade;(リーバイス&reg;エンジニアードジーンズ)" href="https://www.levi.jp/women/collection/women_lej">
	Levi&rsquo;s&reg; Engineered Jeans&trade;&#40;リーバイス&reg;エンジニアードジーンズ&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; VINTAGE CLOTHING（ビンテージ クロージング） " href="https://www.levi.jp/women/collection/lvc">
	LEVI&#39;S&reg; VINTAGE CLOTHING（ビンテージ クロージング）
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:LEVI'S&reg; MADE &amp; CRAFTED&reg;（メイド&amp;クラフテッド）" href="https://www.levi.jp/women/collection/lmc">
	LEVI&#39;S&reg; MADE &amp; CRAFTED&reg;（メイド&amp;クラフテッド）
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:WEDGIE（ウェジー） " href="https://www.levi.jp/women/collection/wedgie">
	WEDGIE（ウェジー）
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Mom Jeans(マム ジーンズ)" href="https://www.levi.jp/women/collection/women-mom-jeans">
	Mom Jeans&#40;マム ジーンズ&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; Authorized Vintage (リーバイス オーソライズド ヴィンテージ)" href="https://www.levi.jp/women/collection/lav">
	Levi&#39;s&reg; Authorized Vintage &#40;リーバイス オーソライズド ヴィンテージ&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:PEANUTS&reg; COLLECTION (ピーナッツコレクション)" href="https://www.levi.jp/women/collection-2">
	PEANUTS&reg; COLLECTION &#40;ピーナッツコレクション&#41;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:Levi's&reg; RIBCAGE (リブケージ)" href="https://www.levi.jp/women/collection/women-ribcage">
	Levi&#39;s&reg; RIBCAGE &#40;リブケージ&#41;
	</a>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:新着" href="https://www.levi.jp/women/newarrival">
	新着
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:フィットガイド" href="https://www.levi.jp/fitchart-women.html">
	フィットガイド
	</a>
	</li>
	</ul>
	</div>
	</li>
	<li class="main-menu Kids">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:Kids/キッズ" data-event="event-data-category" data-click="Kids/キッズ" href="https://www.levi.jp/kids-1">
	Kids
	</a>
	<a class="has-sub-menu" id="categoryjapanese" data-event="event-data-navigation" data-header-nav="Category:Kids/キッズ" data-event="event-data-category" data-click="Kids/キッズ" href="https://www.levi.jp/kids-1">
	キッズ
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-horizontal">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/kids/tops-1">
	トップス
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:身長130cm-150cm" href="https://www.levi.jp/kids/tops-2">
	身長130cm-150cm
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:身長90cm-120cm" href="https://www.levi.jp/kids/tops-3">
	身長90cm-120cm
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:身長130cm-150cm" href="https://www.levi.jp/kids/tops-2">
	身長130cm-150cm
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:身長90cm-120cm" href="https://www.levi.jp/kids/tops-3">
	身長90cm-120cm
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/kids/bottoms-1">
	ボトムス
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:身長130cm-150cm" href="https://www.levi.jp/kids/bottoms-2">
	身長130cm-150cm
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:身長90cm-120cm" href="https://www.levi.jp/kids/bottoms-3">
	身長90cm-120cm
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:身長130cm-150cm" href="https://www.levi.jp/kids/bottoms-2">
	身長130cm-150cm
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:身長90cm-120cm" href="https://www.levi.jp/kids/bottoms-3">
	身長90cm-120cm
	</a>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	</ul>
	</div>
	</li>
	<li class="main-menu ACCESSORY">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:ACCESSORY/アクセサリー" data-event="event-data-category" data-click="ACCESSORY/アクセサリー" href="https://www.levi.jp/accessory-1">
	ACCESSORY
	</a>
	<a class="has-sub-menu" id="categoryjapanese" data-event="event-data-navigation" data-header-nav="Category:ACCESSORY/アクセサリー" data-event="event-data-category" data-click="ACCESSORY/アクセサリー" href="https://www.levi.jp/accessory-1">
	アクセサリー
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-horizontal">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:メンズ" href="https://www.levi.jp/accessory/men">
	メンズ
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ベルト" href="https://www.levi.jp/accessory/men/belt">
	ベルト
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:バッグ" href="https://www.levi.jp/accessory/men/bag">
	バッグ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:財布" href="https://www.levi.jp/accessory/men/wallet">
	財布
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:マフラー / ストール" href="https://www.levi.jp/accessory/men/muffler">
	マフラー / ストール
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:帽子/キャップ" href="https://www.levi.jp/accessory/men/cap">
	帽子/キャップ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:インナー / ソックス" href="https://www.levi.jp/accessory/men/socks">
	インナー / ソックス
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:シューズ" href="https://www.levi.jp/accessory/men/shoes">
	シューズ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:その他" href="https://www.levi.jp/accessory/men/other">
	その他
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ベルト" href="https://www.levi.jp/accessory/men/belt">
	ベルト
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:バッグ" href="https://www.levi.jp/accessory/men/bag">
	バッグ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:財布" href="https://www.levi.jp/accessory/men/wallet">
	財布
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:マフラー / ストール" href="https://www.levi.jp/accessory/men/muffler">
	マフラー / ストール
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:帽子/キャップ" href="https://www.levi.jp/accessory/men/cap">
	帽子/キャップ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:インナー / ソックス" href="https://www.levi.jp/accessory/men/socks">
	インナー / ソックス
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:シューズ" href="https://www.levi.jp/accessory/men/shoes">
	シューズ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:その他" href="https://www.levi.jp/accessory/men/other">
	その他
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:レディース" href="https://www.levi.jp/accessory/women">
	レディース
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ベルト" href="https://www.levi.jp/accessory/women/belt">
	ベルト
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:バッグ" href="https://www.levi.jp/accessory/women/bag">
	バッグ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:財布" href="https://www.levi.jp/accessory/women/wallet">
	財布
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:マフラー / ストール" href="https://www.levi.jp/accessory/women/muffler">
	マフラー / ストール
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:帽子/キャップ" href="https://www.levi.jp/accessory/women/cap">
	帽子/キャップ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:シューズ" href="https://www.levi.jp/accessory/women/shoes">
	シューズ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:その他" href="https://www.levi.jp/accessory/women/other">
	その他
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ベルト" href="https://www.levi.jp/accessory/women/belt">
	ベルト
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:バッグ" href="https://www.levi.jp/accessory/women/bag">
	バッグ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:財布" href="https://www.levi.jp/accessory/women/wallet">
	財布
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:マフラー / ストール" href="https://www.levi.jp/accessory/women/muffler">
	マフラー / ストール
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:帽子/キャップ" href="https://www.levi.jp/accessory/women/cap">
	帽子/キャップ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:シューズ" href="https://www.levi.jp/accessory/women/shoes">
	シューズ
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:その他" href="https://www.levi.jp/accessory/women/other">
	その他
	</a>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	</ul>
	</div>
	</li>
	<li class="main-menu 501&reg;">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:501&reg;" data-event="event-data-category" data-click="501&reg;" href="https://www.levi.jp/501">
	501&reg;
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-vertical">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:メンズ" href="https://www.levi.jp/men/pants/lotnumbers/501">
	メンズ
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/men/pants/lotnumbers/501">
	501&reg;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:501&reg;Skinny " href="https://www.levi.jp/men/pants/lotnumbers/501skinny">
	501&reg;Skinny
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:501&reg;T" href="https://www.levi.jp/men/pants/lotnumbers/501t">
	501&reg;T
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/men/pants/lotnumbers/501">
	501&reg;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;Skinny " href="https://www.levi.jp/men/pants/lotnumbers/501skinny">
	501&reg;Skinny
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;T" href="https://www.levi.jp/men/pants/lotnumbers/501t">
	501&reg;T
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:レディース " href="https://www.levi.jp/women/pants/lotnumbers/501">
	レディース
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/women/pants/lotnumbers/501">
	501&reg;
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:501&reg;Skinny" href="https://www.levi.jp/women/pants/lotnumbers/501skinny">
	501&reg;Skinny
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;" href="https://www.levi.jp/women/pants/lotnumbers/501">
	501&reg;
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:501&reg;Skinny" href="https://www.levi.jp/women/pants/lotnumbers/501skinny">
	501&reg;Skinny
	</a>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	</ul>
	</div>
	</li>
	<li class="main-menu LVC">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:LVC" data-event="event-data-category" data-click="LVC" href="https://www.levi.jp/search/lvc?type=lvc">
	LVC
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-horizontal">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:メンズ " href="https://www.levi.jp/men/collection/lvc">
	メンズ
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/men/pants/lvc">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/men/pants/jeans/lvc">
	デニム
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:アウター" href="https://www.levi.jp/men/outerwear/lvc">
	アウター
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/men/tops/lvc">
	トップス
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/men/pants/lvc">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/men/pants/jeans/lvc">
	デニム
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:アウター" href="https://www.levi.jp/men/outerwear/lvc">
	アウター
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/men/tops/lvc">
	トップス
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:レディース " href="https://www.levi.jp/women/collection/lvc">
	レディース
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/lvcwomen/lwbottoms">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/women/pants/jeans/lvc">
	デニム
	</a>
	</li>
	</ul>
	</li>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/lvcwomen/lwbottoms">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/women/pants/jeans/lvc">
	デニム
	</a>
	</li>
	</ul>
	</li>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	</ul>
	</div>
	</li>
	<li class="main-menu SALE">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:SALE/セール" data-event="event-data-category" data-click="SALE/セール" href="https://www.levi.jp/search?pmid=JPSalesPromo&amp;type=sale">
	SALE
	</a>
	<a class="has-sub-menu" id="categoryjapanese" data-event="event-data-navigation" data-header-nav="Category:SALE/セール" data-event="event-data-category" data-click="SALE/セール" href="https://www.levi.jp/search?pmid=JPSalesPromo&amp;type=sale">
	セール
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-horizontal">
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:メンズ" href="https://www.levi.jp/men?pmid=JPSalesPromo">
	メンズ
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/men/pants?pmid=JPSalesPromo">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/men/pants/jeans?pmid=JPSalesPromo">
	デニム
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/men/pants/longpants?pmid=JPSalesPromo">
	ロングパンツ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/men/pants/croppedpants?pmid=JPSalesPromo">
	クロップドパンツ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ショートパンツ" href="https://www.levi.jp/men/pants/shorts?pmid=JPSalesPromo">
	ショートパンツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/men/tops?pmid=JPSalesPromo">
	トップス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/men/tops/sweatparker?pmid=JPSaleMenTopsSweat">
	スウェット / パーカー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ニット" href="https://www.levi.jp/men/tops/knitsweater?pmid=JPSalesPromo">
	ニット
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:シャツ" href="https://www.levi.jp/men/tops/denimshirt?pmid=JPSalesPromo">
	シャツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:アウター" href="https://www.levi.jp/men/outerwear?pmid=JPSalesPromo">
	アウター
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:アクセサリー" href="https://www.levi.jp/accessory/men?pmid=JPSalesPromo">
	アクセサリー
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/men/pants?pmid=JPSalesPromo">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/men/pants/jeans?pmid=JPSalesPromo">
	デニム
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/men/pants/longpants?pmid=JPSalesPromo">
	ロングパンツ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/men/pants/croppedpants?pmid=JPSalesPromo">
	クロップドパンツ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ショートパンツ" href="https://www.levi.jp/men/pants/shorts?pmid=JPSalesPromo">
	ショートパンツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/men/tops?pmid=JPSalesPromo">
	トップス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/men/tops/sweatparker?pmid=JPSaleMenTopsSweat">
	スウェット / パーカー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ニット" href="https://www.levi.jp/men/tops/knitsweater?pmid=JPSalesPromo">
	ニット
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:シャツ" href="https://www.levi.jp/men/tops/denimshirt?pmid=JPSalesPromo">
	シャツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:アウター" href="https://www.levi.jp/men/outerwear?pmid=JPSalesPromo">
	アウター
	</a>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:アクセサリー" href="https://www.levi.jp/accessory/men?pmid=JPSalesPromo">
	アクセサリー
	</a>
	</ul>
	</div>
	</li>
	<li class="">
	<i class="level2-toggle fa fa-plus"></i>
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:レディース" href="https://www.levi.jp/women?pmid=JPSalesPromo">
	レディース
	</a>
	<ul class="level-3 desktop">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/women/pants?pmid=JPSalesPromo">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/women/pants/jeans?pmid=JPSalesPromo">
	デニム
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/women/pants/longpants?pmid=JPSalesPromo">
	ロングパンツ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/women/pants/croppedpants?pmid=JPSalesPromo">
	クロップドパンツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/women/tops?pmid=JPSalesPromo">
	トップス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:Tシャツ / カットソー" href="https://www.levi.jp/women/tops/tshirts?pmid=JPSalesPromo">
	Tシャツ / カットソー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/women/tops/sweat?pmid=JPSalesPromo">
	スウェット / パーカー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ニット" href="https://www.levi.jp/women/tops/knit?pmid=JPSalesPromo">
	ニット
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:シャツ" href="https://www.levi.jp/women/tops/shirt?pmid=JPSalesPromo">
	シャツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:アクセサリー" href="https://www.levi.jp/accessory/women?pmid=JPSalesPromo">
	アクセサリー
	</a>
	</ul>
	<div class="subcat-level3">
	<ul class="level-3 mobile">
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:ボトムス" href="https://www.levi.jp/women/pants?pmid=JPSalesPromo">
	ボトムス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:デニム" href="https://www.levi.jp/women/pants/jeans?pmid=JPSalesPromo">
	デニム
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ロングパンツ" href="https://www.levi.jp/women/pants/longpants?pmid=JPSalesPromo">
	ロングパンツ
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:クロップドパンツ" href="https://www.levi.jp/women/pants/croppedpants?pmid=JPSalesPromo">
	クロップドパンツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:トップス" href="https://www.levi.jp/women/tops?pmid=JPSalesPromo">
	トップス
	</a>
	<ul class="level-4">
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:Tシャツ / カットソー" href="https://www.levi.jp/women/tops/tshirts?pmid=JPSalesPromo">
	Tシャツ / カットソー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:スウェット / パーカー" href="https://www.levi.jp/women/tops/sweat?pmid=JPSalesPromo">
	スウェット / パーカー
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:ニット" href="https://www.levi.jp/women/tops/knit?pmid=JPSalesPromo">
	ニット
	</a>
	</li>
	<li>
	<a data-event="event-data-navigation" data-header-nav="Category:シャツ" href="https://www.levi.jp/women/tops/shirt?pmid=JPSalesPromo">
	シャツ
	</a>
	</li>
	</ul>
	</li>
	<li class="">
	<a data-event="event-data-navigation" data-header-nav="Category:アクセサリー" href="https://www.levi.jp/accessory/women?pmid=JPSalesPromo">
	アクセサリー
	</a>
	</ul>
	</div>
	</li>
	</ul>
	<ul class="right-nav">
	</ul>
	</div>
	</li>
	<li class="main-menu NEW ARRIVAL">
	<i class="menu-item-toggle fa fa-plus"></i>
	<h2>
	<a class="has-sub-menu" id="categoryenglish" data-event="event-data-navigation" data-header-nav="Category:NEW ARRIVAL" data-event="event-data-category" data-click="NEW ARRIVAL" href="https://www.levi.jp/newarrival-1">
	NEW ARRIVAL
	</a>
	</h2>
	<div class="level-2">
	<ul class="menu-vertical">
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:メンズ" href="https://www.levi.jp/men/newarrival">
	メンズ
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:レディース" href="https://www.levi.jp/women/newarrival">
	レディース
	</a>
	<li class="">
	<a class="cat-link-click" data-event="event-data-navigation" data-header-nav="Category:キッズ" href="https://www.levi.jp/newarrival-2">
	キッズ
	</a>
	</ul>
	<ul class="right-nav">
	</ul>
	</div>
	</li>
	</ul>
	<div class="header-search">
	<form role="search" action="/search" method="get" name="simpleSearch">
	<fieldset>
	<label class="visually-hidden" for="q">Search Catalog</label>
	<input type="text" class="q" name="q" value="" maxlength="60" placeholder="検索" />
	<input type="hidden" name="lang" value="ja_JP" />
	<div class="header-search-button">
	<button type="submit"><span class="visually-hidden">検索</span></button>
	</div>
	</fieldset>
	</form>
	</div>
	<div class="header-banner-mobile">
	<div class="html-slot-container">
	<div class="header-banner-slot">
	<a href="https://www.levi.jp/help%2Ffaq.html" title="ご利用ガイド" class="help-link" data-event="event-
	data-navigation" data-header-nav="Help">ご利用ガイド</a >
	<a href="https://www.levi.jp/stores" title="店舗検索" data-event="event-data-navigation" data-header- nav="StoreLocator">店舗検索</a>
	<a href="https://club-levi.jp/members/login" target="_blank" title="クラブリーバイス®" data-event="event-data-navigation" data-header-nav="Club Levi">クラブリーバイス®</a>
	</div>
	</div>
	</div>
	</nav>
	<div id="mini-cart" class="mini-cart LeviJP">




	<div class="mini-cart-total">
	<div> <a class="mini-cart-link mini-cart-empty" href="https://www.levi.jp/cart" title="カートの中身を見る" data-event="event-data-cart" data-click="minicart-interaction">
	</a>
	</div>
	</div>
	</div>
	</div>
	<div class="header-offers">
	<div class="html-slot-container">

	<div class="header-promotion-offer"><span class="subsale" id="subsale1"><span class="bullet-banner-sec"></span>合計金額10,800円以上で送料無料</span> <span class="subsale" id="subsale2"><span class="bullet-banner-sec"></span><a href="https://www.levi.jp/new-member.html" target="blank">新規会員登録で1,000円クーポンプレゼント </a></span></div>
	</div>
	</div>
	<div id="main" role="main" class="full-width clearfix">
	<!-- <div id="browser-check">
	<noscript>
	<div class="browser-compatibility-alert">
	<i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
	<p class="browser-error">Your browser's Javascript functionality is turned off. Please turn it on so that you can experience the full capabilities of this site.</p>
	</noscript>
	</div> -->
	<div class="static-content">
	<div id="primary" class="primary-content">
	<div class="content-asset">

	<script type="text/javascript">
	jQuery(function(){
		jQuery(window).scroll(function (){
			jQuery('.fadein').each(function(){
				var elemPos = jQuery(this).offset().top;
				var scroll = jQuery(window).scrollTop();
				var windowHeight = jQuery(window).height();
				if (scroll > elemPos - windowHeight + 100){
					jQuery(this).addClass('scrollin');
				}
			});
		});
	});
	</script>
