//------------------------------------------
//- defalt path
//------------------------------------------
-
	var domain = ''
	var language = 'ja'
	var asset_id = '2020aw_sherpa'
	var path = 'content/' + asset_id + '/'
	// var path = ''
	var image_path = path + 'image/'
	var css_path = path + 'css/'
	var js_path = path + 'js/'

//------------------------------------------
//- defalt variables
//------------------------------------------
-
	var title = ''
	var keywords = ''
	var url = ''
	var og_image = url + 'og.png'
	var level = ''
	var image_asset = level + 'common/img/assets/'
	var cmsParam = '?$staticlink$'
